{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Round  {{ subsession.round_number }} of {{Constants.num_rounds}}
{% endblock %}
{% block content %}
{% if subsession.round_number == 1 %}
<p>You were randomly matched with a participant</p>
{% else %}
<p>You were randomly matched with a new participant.</p>
{% endif %}
<p>In this round you are a {{player.role}}.</p>
<p>The buyer has decided to buy.</p>
{% formfield group.produce label="Would you like to ship?" %}
    {% next_button %}
{% if subsession.round_number > 2 %}
<h4>Here you can see <strong>your</strong> shipping history that was displayed to the buyer before he made his decision.</h4>
<table class="table">
<tr>
<th>Round</th>
<th>Buyer's Choice</th>
<th>Seller's Choice</th>
</tr>
{% for p in player.in_previous_rounds %}
<tr>
    {% if p.role == 'Seller' %}
<td>{{ p.round_number }}</td>
<td>
{% if p.group.buy %}Buy{% else %}Not Buy{% endif %}
</td>
<td>
{% if p.group.produce and p.group.buy %}Ship{% elif p.group.buy %}Not Ship{% else %}-{% endif %}
</td>{% endif %}</tr>

{% endfor %}
</table>
{% else %}
<h4>No history to show.</h4>
{% endif %}
{% endblock %}
