{% extends "global/Page.html" %}
{% load staticfiles otree %}
{% block title %}
    Round  {{ subsession.round_number }} of {{Constants.num_rounds}}
{% endblock %}

{% block content %}
{% if subsession.round_number == 1 %}
<p>You were assigned to a pair of participants. Each seller represents a spring water producer. <br>
You were assigned the role of the producer who decides {% if player.role == 'Producer 1' %} first{% else %} second{% endif %}.</p>
{% else %}
<p>The groups were randomly rematched. You were assigned to a new pair of participants. <br>
However, you keep your role as the producer who decides {% if player.role == 'Producer 1' %} first{% else %} second{% endif %}. </p>
{% endif %}
    {% next_button %}

{% endblock %}